.images-container {
  img {
    width: 500px;
  }

  .images-button {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  button {
    box-shadow:inset 0px 1px 3px 0px #91b8b3;
    background-color: #c94e4e;
    border-radius:5px;
    border: 0px solid #c94e4e;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:5px 30px;
    text-decoration:none;
    text-shadow:0px -1px 0px #2b665e;
    outline:none;
    font-family: 'Bitter', serif;
  }

  button:hover {
	background-color:#c03546;
  }

  button:active {
    position:relative;
    top:1px;
  }
}

