.page-title {
  color: #666;
  font-family: 'Titillium Web', sans-serif;
  font-size: 30px;
  font-weight: 600;
  left: 50;

  margin-top: 38px;
  padding-bottom: 29px;
  display: flex;
  justify-self: start;
  align-items: center;
  align-content: center;
  padding-left: 220px;
  width: 100%;
}