.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

@import './styles/main.scss';


@media(max-width: 500px) {
  nav h2 {
    width: 100%;
    text-align: center;
    margin-bottom: center;
  }

  .sm-hide {
    display: none;
    width: 200px;
  }

  .product,
  .product-header {
    justify-content: center;
  }

  .basketTotalContainer {
    padding-right: 8%;
  }
}


@media(max-width: 1000px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}